# Python junk
__pycache__/
*.pyc

# Ignote my data
save/

# Ignore everything in inputs and outputs aside the dummies
inputs/*
outputs/*
!inputs/dummy.json
!outputs/dummy.gpx
!inputs/.gitkeep
!outputs/.gitkeep